body {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1 {
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
}

.content1 {
    display: flex;
    gap: 20px;
}

.content1 div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content1 div button {
    width: 100px;
}

.content1 img { 
    width: 50%;
}

#box2 {
    display:flex;
    flex-direction: column;
}

.content2 {
    display: flex;
}

.content2 div {
    width: 100px;
    
}

.content2 div img {
    width: 100px;
    height: 100px;
}

#box3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 50px 0;
}

#box3 h1, h2 {
    width: 550px;
}

#box3 h2 {
    text-align: right;
}

#box4 {
    display: flex;
}

.content4 {
    display: flex;
}

.content4 .sign-up {
    display: flex;
    flex-direction: column;
}

.sign-up-button {
    display: flex;
    width: 200px; 
    align-items: center;
    justify-content: center;
}

.sign-up-button button {
    width: 100px;
    height: 20px;
}